body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0;
    min-width: 500px;
}
h3{
    margin: 5px 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: #125dff;
}
input[type="text"]{
    width: 100%;
    border: 1px solid #125dff;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
}
#url-inp{
    margin-top: 10px;
    width: 60%;
}
#name-inp{
    margin-top: 10px;
    width: 30%;
}
button{
    margin-top: 7px;
    padding: 5px 10px;
    font-size: 15px;
    background-color: #125dff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px #5565f1;
}

#save-btn:hover,#tab-btn:hover,#sort-btn:hover{
    background-color: #1dc2a6;
    box-shadow: 0px 0px 20px #1dc2a6;
    border: none;
}

#clear-btn{
    padding: 4px 10px;
    background-color: #ffffff;
    border: 1px solid #125dff;
    color: #0e4a9a;
}

#clear-btn:hover{
    padding: 5px 10px;
    background-color: #ff1212;
    color: white;
    border: none;
    box-shadow: 0px 0px 20px #ff1212;

}

ul{
    margin-top: 20px;
    list-style-type: none;
    padding: 2px;
}
ul li{
    margin-bottom: 6px;
}
li a{
    color: rgb(46, 139, 252);
}